; configure and rename this file to .popo and run vendor/bin/popo
[popo]
schema = tests/fixtures/popo/
template = templates/
output = tests/App/Configurator/
namespace = App\Configurator
; extension = .php
; abstract = 0
; extends = \App\AbstractConfigurator
; returnType =


[case1]
schema = tests/fixtures/popo-readme/case1/
template = templates/
output = tests/App/Popo/
namespace = App\Popo

[case2]
schema = tests/fixtures/popo-readme/case2/
template = templates/
output = tests/App/Popo/
namespace = App\Popo

[case3]
schema = tests/fixtures/popo-readme/case3/
template = templates/
output = tests/App/Popo/
namespace = App\Popo
