; configure, copy this file under .popo and run vendor/bin/popo popo|dto
[popo]
schema = tests/fixtures/popo/bundles/
template = templates/
output = src/Generated/Popo/
namespace = Generated\Popo
extension = .php

[dto]
schema = tests/fixtures/dto/bundles/
template = templates/
output = src/Generated/Dto/
namespace = Generated\Dto
extension = .php
