; configure and rename this file to .popo and run vendor/bin/popo
[popo]
schema = popo/
template = vendor/popo/generator/templates/
output = src/YourProject/Popo/
namespace = YourProject\Popo
extension = .php
; abstract = 0|1

[dto]
schema = dto
template = vendor/popo/generator/templates/
output = src/YourProject/Popo/
namespace = YourProject\Popo
extension = .php
; abstract = 0|1
