<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
    backupStaticAttributes="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="true"
    stopOnError="true"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    stderr="true"
    bootstrap="./bootstrap.php">

    <testsuites>
        <testsuite name="PopoTestSuit">
            <directory>./tests/Popo</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="./tests/logs/coverage.xml"/>
        <log type="coverage-html" target="./tests/logs/coverage" />
        <log type="testdox-html" target="./tests/logs/coverage/index.html" />
    </logging>
</phpunit>

